 /* *{ */
    /* border:solid 1px; */
  /* }  */
  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    
}
#home{
    width: 100%;
    height: auto;
    background-color: #e4f0f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#homepage{
    width: 70%;
    height: auto;
    background-color:white;
  
}
#alltitle{
    width: 100%;
    height: 30%;
    /* background-color:red; */
    display: flex;
    padding: 10px;
}
 .schoollogo{
    width: 45%;
    height: 80px;
    background-image: url("http://www.iem.yuntech.edu.tw/images/logo.png"); 
    
} 
.labname{
    width:45%; 
    height:50px ;
    text-align: center; /*文字置中*/
    line-height:50px;
    font-size: 45px;
    margin-left:60px;
    margin-top: 30px;
    font-family:Microsoft JhengHei;
}

#navbarDropdownMenuLink{
    color:#172F3E;
    font-size: 24px;
    font-family:Microsoft JhengHei;
}
.nav-item{
    font-size: 24px;
    font-family:Microsoft JhengHei;
}
.dropdown-item{
    color:#172F3E;
    font-size: 24px;
    font-family:Microsoft JhengHei;

}
#board{
    display: flex;
    width: 100%;
    height: 800px;
    /* background-color:red; */
    margin:10px 10px;
}
.welcome{
    width: 40%;
    height: 680px;
    /* background-color:plum; */
    padding: 10px;
    margin-left: 3.5%;
}
.pic{
    display: flex;
    width: 100%;
    height: 360px;
    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;/*圖片自動全螢幕展示*/
    background-position: center center;
   
    
    
}
.content{
    /* display: flex; */
    width: 100%;
    height: 40%;
    /* background-color:pink; */
    color: #172F3E;
    margin-left: 10px;

}
#start{
    font-size: 42px;
    font-family:Comic Sans MS;
}
#MD{
    font-size: 26px;
    font-family:Microsoft JhengHei;
}
.newsboard{
    width: 50%;
    height: 700px;
    margin-left: 5px;
    background-color: #437698;
    font-family:Microsoft JhengHei; 
}
.newstitle{
    width: 50%;
    height: 10%;
    display: flex;
    /* background-color: red; */
    margin: 15px;
}

.icon{
    width: 20%;
    height:100%;
    background-image: url("https://image.flaticon.com/icons/svg/1511/1511151.svg");
    background-size: cover;/*圖片自動全螢幕展示*/
    background-position: center center;
    margin:5px;

}
.thetitle{
    width: 50%;
    height: 60%;
    margin-top: 5%;
    font-size:32px;
    color: #f5f100;
    
}

.news{
    width: 96%;
    height: 80%;
    /* margin: px; */
    /* background-color:pink; */
    font-size:24px;
    color: lightcyan;
    overflow: auto;
}

/*-----------------視窗最小化內容-------------------*/
@media screen and (max-width: 900px){
    #alltitle{
        width: 100%;
        height: 30%;
        /* background-color:red; */
        flex-direction: column;

    }
     .schoollogo{
        width: 60%;
        height: 20px;
        background-size: cover;
    } 
    .labname{
        width:93%; 
        height:50px ;
        /* background-color: yellow; */
        text-align: center; /*文字置中*/
        line-height:50px;
        font-size: 20px;
        margin-left:0px;
        margin-top: 5px;
        font-family:Microsoft JhengHei;
    }
    /*------------下半部------------*/
    #board{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 800px;
        /* background-color:red; */
        margin:0px;
    }
    .welcome{
        width: 95%;
        height: 250px;
        /* background-color:plum; */
        padding: 0px;
        margin-left:0px;
    }
    .pic{
        width: 100%;
        height: 100px;
        margin-top: 0px;
        background-size: cover;/*圖片自動全螢幕展示*/

    }
    .content{
        /* display: flex; */
        width: 100%;
        height: 330%;
        /* background-color:pink; */
        color: #172F3E;
        margin-left: 0px;
    
    }
    #start{
        font-size: 32px;
        font-family:Comic Sans MS;
        padding: 5px;
    }
    #MD{
        padding: 5px;
        font-size: 20px;
        font-family:Microsoft JhengHei;
    }
    .newsboard{
        width: 98%;
        height: 800px;
        margin-top: 280px;
        margin-left:0px;
        background-color: #437698;
        font-family:Microsoft JhengHei; 
    }
    .newstitle{
        width: 92%;
        height: 10%;
        display: flex;
        /* background-color: red; */
        margin: 15px;
    }
    
    .icon{
        width:28%;
        height:50px;
        margin:0px;
        background-size: percentage;
    
    }
    .thetitle{
        width: 100%;
        height: 60%;
        margin-top: 1%;
        font-size:26px;
        color: #f5f100;
        
    }
    
    .news{
        width: 96%;
        height: 80%;
        margin-left:5px;
        margin-top: 30px;
        /* background-color:pink; */
        font-size:20px;
        color: lightcyan;
        overflow: auto;
    }
    #buttons{
        padding: 0px;
        list-style: none;
        background: #CFE2EF;
        /* text-align: center; */
        /* justify-content: center; */
        font-size: 24px;
        font-family:Microsoft JhengHei;
        display: flex;
        /* line-height:50px; */
        font-weight: bolder;
        justify-content: space-evenly;
        color:#172F3E;
    }










} 